/* Global Styles */

hr {
  border: none;
  border-radius: 2px;
  height: 4px;
  background-color: white;
}
body {
  background-image: url("../images/webpage-bg.webp");
  background-size: cover;
  background-position: center;
}
img { 
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
}
.background-shade {
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.card {
  margin: 0;
  padding: 5px 5px;
  background-color: #f1f1f1;
}
.card-img-top {
  max-height:400px;
  object-fit: cover;
}
.text-bg {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
}
#hero {
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 100px 20px;
  border-radius: 10px;
  max-width: 750px;
  max-height: 420px;
}
#cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
}
#essential-tips {
  background-image: url("../images/essential-tips.webp");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 100px 20px;
  border-radius: 10px;
}
#types-of-licenses {
  background-image: url("../images/types-of-licenses.webp");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 100px 20px;
  border-radius: 10px;
}
#license-requirements {
  background-image: url("../images/license-requirements.webp");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 100px 20px;
  border-radius: 10px;
}
#riding-restrictions {
  background-image: url("../images/restrictions-bg.webp");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 100px 20px;
  border-radius: 10px;
}
#road-awareness {
  background-image: url("../images/road-awareness-bg.webp");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 100px 20px;
  border-radius: 10px;
}
#maintenance {
  background-image: url("../images/maintenance-bg.webp");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 100px 20px;
  border-radius: 10px;
}

/* Media Queries */
@media screen and (max-width: 280px) {
  #hero,
  #getting-started,
  #safe-tips,
  #essential-tips,
  #types-of-licenses,
  #types,
  #license-requirements,
  #riding-restrictions,
  #road-awareness,
  #maintenance {
    padding: 60px 16px;
  }
}
@media screen and (max-width: 576px) {
  #hero,
  #getting-started,
  #safe-tips,
  #essential-tips,
  #types-of-licenses,
  #types,
  #license-requirements,
  #riding-restrictions,
  #road-awareness,
  #maintenance {
    padding: 60px 16px;
  }

  .navbar-brand {
    margin-left: 0 !important;
    font-size: 1rem;
  }

  .text-bg {
    font-size: 0.95rem;
  }
}